*{
  margin: 0;
  padding: 0;
}
.container{
  width: 100%;
}

.header {
  width: 100%;
  height: 120px;
  background-color: black;
  color: white;
  text-align: center;

}
.header h1 {
  font-size: 30px;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 

}
.input {
  width: 20%;
  margin-top: 30px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  align-items: center;
  
 }

.userContainer{
  width: 100%;
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.user{
  margin: 3em 0 0 7em;
  text-align: center;
  border: 1px solid rgb(128, 123, 123);
  border-radius: 15px;
  border-left: none;
  border-right: none;
  box-shadow: 2px 4px ;
}
.user img{
  height: 15em;
  width: 17em;
  border-radius: 15px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
}


@media (max-width: 950px){
  .input {
    width: 300px;
  }
  .userContainer{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  
}
@media (max-width: 550px){
  .input {
    width: 220px;
  }
  .userContainer{
    grid-template-columns: 1fr;
    width: 50%;
   
  
  }
  .header {
    height: 150px;
  }

  
  
}



